[Unit]
Description=Airplay Wyse Converge
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=airplay
WorkingDirectory=/opt/airplay_wyse
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/airplay_wyse/bin/converge
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/var/lib/airplay_wyse /run/airplay /opt/airplay_wyse
SuccessExitStatus=0 2
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
