[Unit]
Description=Airplay preflight checks
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=airplay
WorkingDirectory=/opt/airplay_wyse
ExecStart=/opt/airplay_wyse/bin/preflight
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target

