[Unit]
Description=Run AirPlay Wyse reconcile periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
Persistent=true
Unit=reconcile.service

[Install]
WantedBy=timers.target

