<?xml version="1.0" standalone='no'?><!-- -*-nxml-*- -->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <!-- Placeholder RAOP service if custom adverts are needed. Shairport-sync normally advertises itself. -->
  <name replace-wildcards="yes">{{AIRPLAY_NAME}}</name>
  <service>
    <type>_raop._tcp</type>
    <port>5000</port>
  </service>
  <service>
    <type>_airplay._tcp</type>
    <port>7000</port>
  </service>
  <!-- TXT records would be added if ever required -->
</service-group>
